---
import { Icon } from 'astro-icon/components';
import { SITE_CONFIG } from '~/utils/config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}><svg class="logo" title="home" viewBox="0 0 171.01 24.89"><path d="M14.07 22.97A8.95 8.95 0 0 0 24.4 16.8a56.93 56.93 0 0 1-10.33 6.18zm14.6-11.29c2.63-2.85 3.52-5.2 2.58-6.78-.6-.99-1.76-1.49-3.48-1.49-1.94 0-4.57.67-7.49 1.83.74.37 1.42.83 2.05 1.36a17.7 17.7 0 0 1 5.44-1.19c.91 0 1.57.2 1.76.52.25.42.05 1.82-2.33 4.4-2.2 2.39-5.52 4.97-9.34 7.25-5.38 3.23-10.88 5.3-14.02 5.3-.9 0-1.56-.18-1.76-.5-.25-.43-.04-1.83 2.33-4.4.5-.54 1.05-1.08 1.65-1.63a9.93 9.93 0 0 1-.24-2.46 32.44 32.44 0 0 0-2.88 2.73C.31 19.48-.58 21.82.37 23.4c.59.99 1.76 1.49 3.47 1.49 3.53 0 9.3-2.15 15.05-5.6a45.19 45.19 0 0 0 9.78-7.6z"></path><path d="M8.09 18.78c.4.67.88 1.26 1.42 1.79a47.65 47.65 0 0 0 7.84-3.85 47.46 47.46 0 0 0 7.09-5.1 9 9 0 1 0-16.35 7.16zM5.12 5.53l2.04-1.12L5.12 3.3 4 1.25 2.88 3.3.84 4.41l2.04 1.12L4 7.58zm6.38-3.62l.9-.5-.9-.5L11 0l-.5.91-.91.5.9.5.5.92zm16.47 19.95l-1.44.79 1.44.79.79 1.45.79-1.45 1.45-.79-1.45-.79-.8-1.45z"></path><path d="M38.5 19.22q0-.5.43-.5.46 0 .46.45 0 1.58 1.11 2.42 1.11.81 2.84.81 1.9 0 2.91-1.03 1.01-1.06 1.01-3.16V6h-3.92q-.42 0-.42-.47 0-.42.42-.42h4.37q.44 0 .44.44v12.66q0 2.64-1.3 3.87-1.31 1.21-3.5 1.21-2.23 0-3.54-1.16-1.3-1.16-1.3-2.9zm12.08 3.53q0-.1.02-.15l5.35-17.3q.1-.34.45-.34.34 0 .47.35l5.3 17.3v.06q.03.03.03.05 0 .18-.15.3t-.35.12q-.3 0-.4-.32l-1.25-4.04H52.7l-1.24 4.04q-.1.32-.44.32-.44 0-.44-.4zm2.39-4.86h6.8L56.4 6.84l-3.43 11.05zm11.73.31v-8q0-2.62 1.36-3.86 1.38-1.23 3.55-1.23 2.24 0 3.48 1.16 1.26 1.13 1.26 2.71 0 .7-.45.7-.44 0-.44-.45-.03-.54-.2-1.01-.17-.5-.57-1.04-.37-.54-1.18-.86Q70.7 6 69.58 6q-4 0-4 4.2v8q0 4.2 4.1 4.2.94 0 1.63-.22.7-.25 1.04-.52.37-.3.61-.81.28-.52.35-.82.07-.32.15-.86.05-.44.44-.44.45 0 .45.71 0 1.53-1.29 2.7-1.28 1.15-3.53 1.15-2.14 0-3.5-1.23-1.33-1.24-1.33-3.85zm12.62 0v-8q0-2.65 1.31-3.86 1.3-1.23 3.5-1.23t3.5 1.23q1.34 1.21 1.34 3.85v8.02q0 2.64-1.33 3.87-1.31 1.21-3.5 1.21-2.2 0-3.5-1.2-1.32-1.24-1.32-3.88zm.9 0q0 2.1 1 3.17 1.02 1.03 2.91 1.03 1.9 0 2.92-1.03 1.03-1.06 1.03-3.16v-8.02q0-2.1-1.03-3.13Q84.03 6 82.13 6t-2.9 1.06q-1.02 1.03-1.02 3.13v8.02zm12.68 4.52V5.55q0-.44.44-.44h3.7q2.44 0 3.75.86 1.3.87 1.3 3.26 0 1.55-.56 2.64-.57 1.08-1.53 1.5 2.54 1.06 2.54 4.35v.42q0 2.61-1.33 3.82-1.31 1.18-3.5 1.18h-4.37q-.45 0-.45-.42zm.88-.46h3.92q3.95 0 3.95-4.12v-.42q0-2.08-1.01-2.99-1.01-.91-2.94-.91h-3.92v8.44zm0-9.33h3.43q2.12 0 3.06-.81.94-.82.94-2.9 0-1.9-1.06-2.56Q97.1 6 95.09 6h-3.31v6.93z"></path><path d="M103.33 22.16V6.1q0-.4.4-.7.4-.3 1.01-.3h4.37q2.64 0 4.22 1.37 1.58 1.35 1.58 4.29v6.73q0 2.94-1.58 4.3-1.58 1.35-4.22 1.35h-4.37q-.62 0-1.01-.3-.4-.29-.4-.68zm3.21-1.83h2.57q2.59 0 2.59-2.84v-6.73q0-2.84-2.6-2.84h-2.56v12.41zm11.11 1.8V6.12q0-.47.42-.74.41-.27.98-.27h8.79q.49 0 .74.42.27.42.27.96 0 .6-.27 1.01-.28.42-.74.42h-6.99v4.94h3.75q.47 0 .74.39.27.37.27.89 0 .47-.27.86-.24.37-.74.37h-3.75v4.96h6.99q.46 0 .74.42.27.42.27 1.01 0 .54-.27.96-.25.42-.74.42h-8.79q-.57 0-.98-.27-.42-.27-.42-.74zm11.8-.32l.05-.25 4.76-15.51q.14-.52.71-.8.6-.29 1.33-.29.74 0 1.34.3.59.27.74.79l4.76 15.51.05.25q0 .54-.67.94-.66.4-1.36.4-.9 0-1.08-.65l-.94-3.28h-5.65l-.94 3.28q-.17.64-1.08.64-.72 0-1.38-.37-.64-.4-.64-.96zm4.7-5.1h4.3l-2.15-7.58-2.14 7.57zm10.72 5.42V6.12q0-.5.47-.74.47-.27 1.13-.27.9 0 1.36.32.47.32 1.04 1.38l4.76 9.2V6.1q0-.5.47-.74.47-.25 1.13-.25.67 0 1.14.25.47.24.47.74v16.03q0 .47-.5.74-.47.27-1.1.27-1.31 0-1.86-1l-5.3-9.93v9.92q0 .47-.5.74-.46.27-1.1.27-.67 0-1.14-.27-.47-.27-.47-.74zm14.93 0V6.12q0-.47.43-.74.42-.27.98-.27H170q.5 0 .74.42.27.42.27.96 0 .6-.27 1.01-.27.42-.74.42h-6.98v4.94h3.75q.46 0 .74.39.27.37.27.89 0 .47-.27.86-.25.37-.74.37h-3.75v4.96H170q.47 0 .74.42t.27 1.01q0 .54-.27.96-.25.42-.74.42h-8.79q-.56 0-.98-.27-.42-.27-.42-.74z"></path></svg>
</a>
        </div>
        <div class="text-sm text-muted">
          {
            secondaryLinks.map(({ text, href }) => (
              <a
                class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
                href={href}
                set:html={text}
              />
            ))
          }
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="dark:text-gray-300 font-medium mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }

      <div class="text-sm mr-4 dark:text-slate-400">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
